<?xml version="1.0" encoding="UTF-8"?>
<!-- Context configuration for Tomcat -->
<Context>

    <!-- Database Resource -->
    <Resource name="jdbc/examoraDB"
              auth="Container"
              type="javax.sql.DataSource"
              maxTotal="100"
              maxIdle="30"
              maxWaitMillis="10000"
              username="root"
              password=""
              driverClassName="com.mysql.cj.jdbc.Driver"
              url="jdbc:mysql://localhost:3306/examora_db?useSSL=false&amp;serverTimezone=UTC&amp;allowPublicKeyRetrieval=true"
              validationQuery="SELECT 1"
              testOnBorrow="true" />

    <!-- Session Configuration -->
    <Manager className="org.apache.catalina.session.PersistentManager"
             saveOnRestart="false">
        <Store className="org.apache.catalina.session.FileStore" />
    </Manager>

</Context>
